<%= render 'navbar' %>
<section id="dashintro">
   <div class="container">
     <div class="dashboard col-lg-12">
       <div class="dashboardnav">
         <h1 class="dashboardtitle"><a href="/dashboard"><img src="https://s14.postimg.org/dvkhc3u81/Tag_Snooper_Logo.png"></img></a>DASHBOARD</h1>
       </div>
         <div class="col-md-3">
           <ul>
             <li class="card card-block" style="width: 18rem; height:18rem">
               <h3 class="card-title">SEARCH HASHTAGS</h3>
               <p class="card-text">SEARCH SPECIFIC TOPICS FOR HASHTAGS</p>
               <a href="/hashtags"><button type="button" class="btn btn-primary">SEARCH</button></a>
             </li>

             <li class="card card-block" style="width: 18rem; height:18rem">
               <h3 class="card-title">NEW TOPIC</h3>
               <p class="card-text">CREATE A TOPIC FOR EACH SEARCH YOU WANT TO SAVE</p>
               <%= render 'newtopic' %>
             </li>

             <li class="card card-block" style="width: 18rem; height:16rem">
             <h3 class="card-title">Delete Topic</h3>
             <p class="card-text">Delete any topic you do not want anymore</p>
             <%= button_tag 'DELETE TOPIC', onclick: "deleteTopic()", class: "btn btn-danger" %>
             </li>
       </div>
       <div class="col-md-9">
         <ul>
           <li class="dropdown">
             <h3>MY TOPICS</h3>
               <% if @topic %>
               <div class="dropdown-content">
               <%= select_tag 'topic', options_from_collection_for_select(current_user.topics, 'id', 'name', @topic.id), id: "topic_search" %>
               <% end %>
             </div>
               <% if @topic %>
               <% @topic.hashtags.each do |ht| %>
               <div class="dropdownitem">
               <span style="color: #5899B9">#</span><%= ht.name.capitalize %>
               </div>
             <% end %>
           <% end %>
         </li>
       </ul>
     </div>
</section>


<%= render 'footer' %>
