<%= render 'navbar' %>

<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>My Dashboard</h1>
                <p class='topics'>
                  <% if @topic %>
                  <!--[if !IE]> -->
                  <div class="notIE">
                    <span class="fancyArrow"></span>
                    <%= select_tag 'topic', options_from_collection_for_select(current_user.topics, 'id', 'name', @topic.id), id: "topic_search" %>
                  </div>
                  </p>
                    <% @topic.hashtags.each do |ht| %>
                    <div>
                      #<%= ht.name.capitalize %>
                    </div>
                    <% end %>
                  <% end %>

                  <%= render 'newtopic' %>

            </div>
            <%= button_tag 'Delete Topic', onclick: "deleteTopic()", class: "btn btn-danger" %>
        </div>
    </div>
</section>

<%= render 'footer' %>
