<%= render 'navbar' %>

<!-- <section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="access">Login</h1>
                <a class="btn btn-default page-scroll" href="#about">Click Here to Sign Up!</a>
                <div>
                <%= form_tag '/login' do %>

                <strong> Email: <%= text_field_tag :email %>
                Password:</strong> <%= password_field_tag :password %>
                <%= submit_tag "Submit" %>

              <% end %>
            </div>

            </div>
        </div>
    </div>
</section> -->




<div class="login">
	<h1>Log In</h1>
    <form method="post">
    	<input type="text" name="u" placeholder="Email" required="required"/></input>
        <input type="password" name="p" placeholder="Password" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
</div>
