<%= render 'navbar' %>

<section id="dashintro">
    <div class="container">

      <div class="dashboard col-lg-12">
        <div class="dashboardnav">
          <h1 class="dashboardtitle"><a href="/dashboard"><img src="https://s14.postimg.org/dvkhc3u81/Tag_Snooper_Logo.png"></img></a>dashboard</h1>
        </div>
        <div>

                <!-- <div class="search-bar" -->
                  <%= form_tag("/hashtags", method: "get") do %>
                  <%# label_tag(:q, "Snoop for:") %>
                  <%= text_field_tag (:q), nil, placeholder: "Snoop for.." %>
                  <%# submit_tag("Snoop") %>
                  <% end %>


                  <% if defined?(@results) %>

                  <%= form_tag hashtags_create_path, method: :post, class: "navbar-form navbar-left search-form" do %>
                  <%= select_tag 'topic', options_from_collection_for_select(current_user.topics, 'id', 'name') %>
                  <% @results.each do |user_hashtag, hashtag_count| %>
                  <div class="hashtags">

                    #<%= user_hashtag.capitalize %>: <%= hashtag_count %>
                    <input type="checkbox" value="<%= user_hashtag %>" name="hashtag_values[]" >
                  </div>
                  <% end %>
                  <input id="submit_button" type="submit" value="Save Snoops"><a href="/dashboard"></input>
                  <% end %>

                  <% end %>
            </li>
          </ul>
        </div>

        </div>

</section>

<%= render 'footer' %>
