<%= form_tag("/hashtags", method: "get") do %>
  <%= label_tag(:q, "Snoop for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Snoop") %>
<% end %>


<% if defined?(@hashtags) %>
  <div class="">
    <% @hashtags.each do |tag| %>
    <%= tag.methods.sort %><br>
    <strong><% tag.full_text %></strong>

      <div class="hashtags">
        <% tag.hashtags.each do |hash| %>
        <p>#<%= hash.text %></p>
        <p><%= hash.methods.sort %></p>
        <% end %>
      </div>

    <% end %>
  </div>
<% end %>
