<%= form_tag("/hashtags", method: "get") do %>
  <%= label_tag(:q, "Snoop for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Snoop") %>
<% end %>

<% @results.each do |key, value| %>
  <div class="">
    #<%= key.capitalize %>: <%= value %>
  </div>
<% end %>
