<div class="search-bar">
  <%= form_tag("/hashtags", method: "get") do %>
  <%= label_tag(:q, "Snoop for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Snoop") %>
  <% end %>
</div>

<% if defined?(@results) %>

  <%= form_tag hashtags_create_path, method: :post, class: "navbar-form navbar-left search-form" do %>
    <% @results.each do |user_hashtag, hashtag_count| %>
    <div class="hashtags">

      #<%= user_hashtag.capitalize %>: <%= hashtag_count %>
      <%= hidden_field(:hashtag, :value, value: hashtag_count, name: user_hashtag, id: user_hashtag) %>
      <%= check_box_tag(:hashtag, :name, name: user_hashtag + '[]') %>
      <input type="checkbox" value="<%= user_hashtag %>" name="hashtag_values[]" >
    </div>
    <% end %>
    <input type="submit" value="Save Snoops">
  <% end %>

<% end %>
