
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="https://s14.postimg.org/dvkhc3u81/Tag_Snooper_Logo.png"></img>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#intro">SIGN UP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">ABOUT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="access">ACCESS TO TWITTER'S MOST RELEVANT HASHTAGS!</h1>
                    <!-- <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p> -->
                    <!-- <a class="btn btn-default page-scroll" href="#about">Click Here to Sign Up!</a> -->
                    <% if current_user %>
                     Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
                    <% else %>
                    <div class="login-button">  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> </div>
                    <% end %>
                  <%= yield %>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="works col-lg-12">
                    <h1 class="how">HOW IT WORKS</h1>
                </div>
                <div class="icons col-md-12">
                  <ul>
                    <li class="col-md-4"><i class="fa fa-search" aria-hidden="true"></i></li>
                    <li class="col-md-4"><i class="fa fa-list" aria-hidden="true"></i></li>
                    <li class="col-md-4"><i class="fa fa-archive" aria-hidden="true"></i></li>
                    <!-- <li class="col-md-4"><img src="http://www.etchedcomm.com/wp-content/uploads/2014/08/hashtag-use.png"></img></li>
                    <li class="col-md-4"><img src="http://www.niccolomatterazzo.com/wp-content/uploads/2015/07/Hashtags-are-you-sure-that-you-are-using-them-correctly.jpg"></li>
                    <li class="col-md-4"><img src="http://www.bookmorebrides.com/wp-content/uploads/2014/08/money-hashtag-copy.png"></img></li> -->
                  </ul>
                </div>
                <div class="col-md-12">
                  <ul>
                    <li class="desc col-md-4">Enter any #hashtag chosen by you</li>
                    <li class="desc col-md-4">Get a list of the most relevant tags related to your specific audience</li>
                    <li class="desc col-md-4">Save them and keep them organized by topics</li>
                  </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="about col-lg-12">
                    <h1 class="about">ABOUT</h1>
                </div>
                <div class="col-md-12">
                  <ul>
                  <li class="circles col-md-3"><img src="https://s17.postimg.org/9ibbs8hwv/imageedit_2_8926941055.gif" alt="cr"></li>

                  <li class="circles col-md-3"><img src="https://s18.postimg.org/zcq1a35fd/imageedit_1_6459561802.gif" alt="av"></li>

                  <li class="circles col-md-3"><img src="https://s15.postimg.org/8otw5x70r/imageedit_2_5032938431.gif" alt="dj"></li>

                  <li class="circles col-md-3"><img src="https://s17.postimg.org/bo4ao1o5r/imageedit_1_9746226061.gif" alt="dj"></li>
                </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>


  </body>
</html>
