
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="https://s14.postimg.org/dvkhc3u81/Tag_Snooper_Logo.png"></img>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">ABOUT</a>
                    </li>
                    <li>
                        <% if current_user %>
                        <%= link_to "MY DASHBOARD", '/dashboard' %>
                        <% else %>
                        <%= link_to "MY DASHBOARD", '/login' %>
                        <% end %>
                        <% yield %></a>
                    </li>
                  </ul>
                  <div class="sessionstat">
                      <% if current_user %>
                      <%= link_to "LOGOUT", '/logout' %>
                      <% else %>
                      <div class="login-button">  <%= link_to 'LOGIN', '/login' %> | <%= link_to 'SIGNUP', '/signup' %> </div>
                      <% end %></div>
                  </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="landingintro" class="intro-section bg-img">
      <!-- <div class="bg-img"> -->
        <div class="container">
            <div class="row">
              <div class="headline col-lg-12">
                <h1 class="access">ACCESS TO THE MOST RELEVANT HASHTAGS!</h1>
              </div>
                <div class="col-md-6">
                      <div class="access col-md-5 box">
                      <li>
                      <h3 class="access">Login to Start Snooping!</h3>
                      <!-- <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p> -->
                      <!-- <a class="btn btn-default page-scroll" href="#about">Click Here to Sign Up!</a> -->
                      <% if current_user %>
                       <strong> Welcome Back, <%= current_user.name %> </strong>
                      <%= link_to "LOGOUT", '/logout' %>
                      <% else %>
                      <%= link_to '<button type="button" class="button">LOGIN</button>'.html_safe, '/login' %>
                    </li>
                    </div>
                    <div class="access col-md-5 box">
                      <li>
                      <h3 class="access">Create an Account to Save Hashtags, Create Topics, and More.</h3>
                      <%= link_to '<button type="button" class="button">SIGNUP</button>'.html_safe, '/signup' %>
                      <% end %>
                      <%= yield %>
                      </li>
                    </div>
                </div>
              <!-- </div> -->
            </div>

            <!-- <div class="search-bar">
              <%#= form_tag("/", method: "get") do %>
              <%#= text_field_tag (:q), nil, placeholder: "Snoop for.." %>
              <%# end %>
              <%# if defined?(@results) %>
                <%# @results.each do |user_hashtag, hashtag_count| %>
                <div class="hashtags">
                  <%#= user_hashtag.capitalize %>: <%#= hashtag_count %>
                <%# end %>
            <%# end %>
            </div>
            </div> -->
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="works col-lg-12">
                    <h1 class="how">HOW IT WORKS</h1>
                </div>
                <div class="icons col-md-12">
                  <ul>
                    <li class="col-md-4"><i class="fa fa-search" aria-hidden="true"></i></li>
                    <li class="col-md-4"><i class="fa fa-list" aria-hidden="true"></i></li>
                    <li class="col-md-4"><i class="fa fa-archive" aria-hidden="true"></i></li>
                    <!-- <li class="col-md-4"><img src="http://www.etchedcomm.com/wp-content/uploads/2014/08/hashtag-use.png"></img></li>
                    <li class="col-md-4"><img src="http://www.niccolomatterazzo.com/wp-content/uploads/2015/07/Hashtags-are-you-sure-that-you-are-using-them-correctly.jpg"></li>
                    <li class="col-md-4"><img src="http://www.bookmorebrides.com/wp-content/uploads/2014/08/money-hashtag-copy.png"></img></li> -->
                  </ul>
                </div>
                <div class="col-md-12">
                  <ul>
                    <li class="desc col-md-4">Enter any #hashtag chosen by you</li>
                    <li class="desc col-md-4">Get a list of the most relevant tags related to your specific audience</li>
                    <li class="desc col-md-4">Save them and keep them organized by topics</li>
                  </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="about col-lg-12">
                    <h1 class="about">MEET THE TEAM</h1>
                </div>
                <div class="col-md-12">
                  <ul>
                  <li class="circles col-md-3"><img src="https://s17.postimg.org/9ibbs8hwv/imageedit_2_8926941055.gif" alt="cr"><font color="white"><h4>CRISTIAN CRAVELLO</h4></br>CMO</font></li>

                  <li class="circles col-md-3"><img src="https://s18.postimg.org/zcq1a35fd/imageedit_1_6459561802.gif" alt="av"><font color="white"><h4>ALESSANDRA VASQUEZ</h4></br>CFO</font></li>

                  <li class="circles col-md-3"><img src="https://s15.postimg.org/8otw5x70r/imageedit_2_5032938431.gif" alt="dj"><font color="white"><h4>DEVON JOHNSON</h4></br>CTO</font></li>

                  <li class="circles col-md-3"><img src="https://s17.postimg.org/bo4ao1o5r/imageedit_1_9746226061.gif" alt="dj"><font color="white"><h4>NIKOLAS YANEZ</h4></br>COO</font></li>
                </ul>
                </div>
            </div>
        </div>
    </section>

    <!--Footer -->

    <footer class='navbar-bottom'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-3 col-sm-4 col-xs-6'>
            <h4>WHO WE ARE</h4>
            <p><i>TagSnooper</i> is the best way to search for the most relevant hashtags according to any specific topic.</p>
          </div>

          <div class='col-md-offset-1 col-sm-2 col-xs-6'>
            <h4>LINKS</h4>
            <ul class='list-unstyled'>
              <li><a href='/'>HOME</a></li>
              <li><a href='stations.html'>ABOUT</a></li>
              <li><a href='stations.html'>CONTACT</a></li>

            </ul>
          </div>

          <div class='clearfix visible-xs'></div>

          <div class='col-sm-2 col-xs-6'>
            <h4>STAY IN TOUCH</h4>
            <ul class='list-unstyled'>
              <li><a href='/blog'>BLOG</a></li>
              <li><a href='http://twitter.com/'>TWITTER</a></li>
              <li><a href='http://facebook.com/'>FACEBOOK</a></li>
            </ul>
          </div>

          <div class='col-md-3 col-md-offset-1 col-sm-4 col-xs-6'>
            <h4>CONTACT</h4>
            <ul class='list-unstyled'>
              <li><i class='glyphicon glyphicon-globe'></i> Miami, FL</li>
              <li><i class='glyphicon glyphicon-phone'></i> 1800-55-SNOOP</li>
              <li><i class='glyphicon glyphicon-envelope'></i> <a href=''>CONTACT@TAGSNOOPER.com</a></li>
            </ul>
            <p>TagSnooper&copy;2016.</p>
          </div>
        </div>
      </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>


  </body>
</html>
